<h1>Listing importages</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @importages.each do |importage| %>
      <tr>
        <td><%= link_to 'Show', importage %></td>
        <td><%= link_to 'Edit', edit_importage_path(importage) %></td>
        <td><%= link_to 'Destroy', importage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Importage', new_importage_path %>
