<h1>Listing mixes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mixes.each do |mix| %>
      <tr>
        <td><%= link_to 'Show', mix %></td>
        <td><%= link_to 'Edit', edit_mix_path(mix) %></td>
        <td><%= link_to 'Destroy', mix, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mix', new_mix_path %>
